<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Humanity Bridge | Donate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static',filename='headerfooter/footer.css')}}"/>
  <link rel="stylesheet" href="{{url_for('static',filename='headerfooter/header.css')}}"/>
  <link rel="stylesheet" href="{{url_for('static',filename='beforelogin_Style_css/donate_pg.css')}}"/>
  <link rel="shortcut icon" href="{{url_for('static',filename='images/faviconlogo.jpeg')}}" type="image/x-icon">
</head>

<body>

  <header class="header">
    <div class="container nav">
      <div class="logo">
        <img src= "{{url_for('static',filename='images/projectlogo.png')}}"> Humanity Bridge
      </div>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/ourwork">Our Work</a>
        <a href="/gallery">Gallery</a>
        <a href="/login" class="login-btn">Login / SignUp</a>
      </nav>
    </div>
  </header>


  <section class="donation-section">
    <div class="content-wrapper">
      <h1 class="main-title">Choose Your <span class="highlight">Donation</span></h1>
      <p class="subtitle">Make a responsible and meaningful contribution.</p>

      <div class="card-container">
        <a href="/login">
          <div class="donation-card">
            <i class="fa-solid fa-utensils"></i>
            <h3>Food</h3>
          </div>
        </a>

        <a href="/login">
          <div class="donation-card">
            <i class="fa-solid fa-shirt"></i>
            <h3>Clothes</h3>
          </div>
        </a>
        <a href="/login">
          <div class="donation-card">
            <i class="fa-solid fa-book"></i>
            <h3>Money</h3>
          </div>
        </a>



      </div>
    </div>
  </section>


  <footer>
    <p>© 2026 Humanity Bridge. All Rights Reserved.</p>
  </footer>

  <script src="{{url_for('static',filename='headerfooter/nav.js')}}"></script>
</body>

</html>